alembic==1.7.4
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
coverage==6.0.2
Flask==2.0.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.2.2
iniconfig==1.1.1
ipapi==1.0.4
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
pluggy==1.0.0
psycopg2-binary==2.9.1
py==1.10.0
pycountry==20.7.3
pyparsing==2.4.7
pytest==6.2.5
requests==2.26.0
soupsieve==2.2.1
SQLAlchemy==1.4.25
toml==0.10.2
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.6.0
