<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
       table {
        width: 100%; /* Ширина таблицы */
        background: white; /* Цвет фона таблицы */
        color: black; /* Цвет текста */
        border-spacing: 1px; /* Расстояние между ячейками */
       }
       td {
        background: Pink; /* Цвет фона ячеек */
        padding: 5px; /* Поля вокруг текста */
       }
       th {
        background: SkyBlue;
        padding: 5px;
       }
    </style>
    <h1>Hello friend !!!</h1>
    <hr>
        <h2>v1.0.0</h2>
    <hr>
        {% if info %}
            <table>
               <tr><th>ID</th><th>Internal IP</th><th>External IP</th><th>Country Code</th><th>DATE</th></tr>
                {% for item in info %}
                    <tr><td align="center">{{ item.id }}</td><td align="center">{{ item.internal_ip }}</td><td align="center">{{ item.external_ip }}</td><td align="center">{{ item.country_code }}</td><td align="center">{{ item.created_at }}</td></tr>
                {% endfor %}
            </table>
        {% endif %}
    <hr>
</head>
<body>

</body>
</html>
