<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <h1>Hello friend !!!</h1>
    <hr>
        <h2>v1.0.0</h2>
    <hr>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Internal IP</td>
          <td>External IP</td>
          <td>Country Code</td>
          <td>DATE</td>
        </tr>
      </thead>
      <tbody>
        {% for item in info %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.internal_ip }}</td>
              <td>{{ item.external_ip }}</td>
              <td>{{ item.country_code }}</td>
              <td>{{ item.created_at }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% if prev_url %}
                <a href="{{ prev_url }}">&laquo;</a>
            {% else %}
                <a href="#">&laquo;</a>
            {% endif %}

            {% if next_url %}
                <a href="{{ next_url }}">&raquo;</a>
            {% else %}
                <a href="#">&raquo;</a>
            {% endif %}
        </ul>
    </nav>
</body>
</html>
